/06-Code/01RegistrationSystemSolutionsIT/build/
/06-Code/01RegistrationSystemSolutionIT1/nbproject/private/
/06-Code/01RegistrationSystemSolutionIT1/build/
/06-Code/RegistrationSystemSolutionIT/build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.properties
*.xml
